@import "colors";

.categories {
  &__container {
    display: none;
  }
  li {
    border: 2px solid #f8f8f8;
    box-sizing: border-box;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 15px;
    margin: 0 10px 10px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: $dkGray;

    cursor: pointer;

    &:hover {
      background: $ltGray;
      color: $black;
    }
  }
}
