@import "colors";

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &__container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    line-height: 26px;
    color: $black;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;

    &:hover {
      .checkbox__checkmark {
        border: 2px solid #333333;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ababab;
    border-radius: 50%;

    &--checked {
      position: absolute;
      top: 2.5px;
      left: 2.5px;
      width: 10px;
      height: 10px;
      background-color: #333333;
      border-radius: 50%;
      display: none;
    }
  }

  &:checked + &__checkmark {
    border: 2px solid #333333;
    .checkbox__checkmark--checked {
      display: block;
    }
  }
}
