@import "colors";

ul {
  padding: 0;
}

.joke {
  background-color: $ltGray;
  border-radius: 20px;
  padding: 67px 40px 40px 40px;
  position: relative;
  list-style: none;

  &--favorite {
    background-color: $white;
    padding: 47px 20px 20px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .heart {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;

    &--favorite {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }

  &__icon {
    min-width: 40px;
    height: 40px;

    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--favorite {
      background: $ltGray;
    }
  }

  &__body {
    margin-left: 20px;
    width: 100%;
  }

  &__id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: $dkGray;
    margin-bottom: 5px;

    a {
      img {
        display: inline;
        margin-left: 3px;
      }

      &:link,
      &:visited {
        color: #8ea7ff;
      }
    }
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    &--favorite {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;

    &--favorite {
      margin-top: 20px;
    }
  }

  &__updated {
    display: inline;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $dkGray;
  }

  &__category {
    display: inline;
    padding: 6px 20px;

    background: $white;
    border-radius: 6px;

    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: $black;
  }
}
